<div class="timeline">
  <h2>Goals Timeline</h2>
  <div class="timeline-container">
    @if(dataService.goalsList().length > 0){
    @for(goal of dataService.goalsList(); track goal.goalTitle){
    <div class="card timeline-box">
      <div class="card-body">
        <h3 class="card-title">{{ goal.goalTitle }}</h3>
        <p class="card-text">{{ goal.goalText }}</p>
        <span class="timeline-date">{{ goal.goalMonth }}</span>
      </div>
    </div>
    }
  }
  @else {
    <div class="no-goals">
      <p>No goals added yet. Please add your first goal!</p>
    </div>
  }
  </div>
</div>