@use '../../../styles' as *;

.timeline {
  margin-top: 2rem;
  padding: 2rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--box-shadow-color);

  h2 {
    margin-bottom: 2rem;
  }

  .timeline-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: flex-start;
  }

  .timeline-box {
    position: relative;
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: var(--text-color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px; 

    .card-body {
      padding: 1rem;
    }

    .card-title {
      margin-top: 0;
    }

    .timeline-date {
      display: block;
      margin-top: 0.5rem;
      font-size: 0.9rem;
      color: var(--text-color);
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      font-size: 1.5rem;
      color: var(--text-color);
      cursor: pointer;
      display: none;
    }

    &:hover .close-btn {
      display: block;
    }
  }
  .no-goals {
    text-align: center;
    margin-top: 2rem;

    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
}

@media (max-width: 576px) {
  .timeline-container {
    flex-direction: column;
    align-items: center;
  }

  .timeline-box {
    width: 100%; 
    max-width: 250px;
  }
}